<div class="container">
    <h2>Create A New Account!</h2>
    <div class="sign-form-wrapper">
        <form autocomplete="off" [formGroup]="profileForm" (ngSubmit)="onRegister()">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="Username">Username</label><br>
                    <input type="text" class="form-control" id="Username" placeholder="Username" formControlName="Username"><br>
                    <span *ngIf="!profileForm.controls.Username.valid && profileForm.controls.Username.touched"
                        style="color:rgb(238, 83, 83)">Username must be minimum 4 characters long!</span><br>
                </div>
                <div class="form-group col-md-12">
                    <label for="Email">Email</label><br>
                    <input type="text" class="form-control" id="Email" placeholder="Email" formControlName="Email"><br>
                    <span *ngIf="!profileForm.controls.Email.valid && profileForm.controls.Email.touched"
                    style="color:rgb(238, 83, 83)">Invalid email format!</span><br>
                </div>
                <div class="form-group col-md-12">
                    <label for="Password">Password</label><br>
                    <input type="text" class="form-control" id="Password" placeholder="Password" formControlName="Password"><br>
                    <span *ngIf="!profileForm.controls.Password.valid && profileForm.controls.Password.touched"
                        style="color:rgb(238, 83, 83)">Password must be minimum 6 characters long</span><br>
                </div>               
            </div>
            <div class="sign-button-wrapper">
                <button class="btn btn-primary" type="submit">Register</button>
                <button class="btn btn-primary" routerLink="/login">Login</button>
            </div>
        </form>

    </div>
</div>
<div class="sign-validation" #signValidation>
</div>