<div class="container">
  <div>
    <h1 class="title">Registration</h1>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Email*</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail4"
          formControlName="email"
        />
        <!-- email validation -->
        <div
          *ngIf="
            registerForm.controls.email.invalid &&
            (registerForm.controls.email.dirty ||
              registerForm.controls.email.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.controls.email.errors.required">
            {{ ERROR_MESAGES.required }}
          </div>
          <div *ngIf="registerForm.controls.email.errors.email">
            {{ ERROR_MESAGES.email_type }}
          </div>
        </div>
        <!-- email validation end -->
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Password*</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword4"
          formControlName="password"
        />
        <!-- password validation -->
        <div
          *ngIf="
            registerForm.controls.password.invalid &&
            (registerForm.controls.password.dirty ||
              registerForm.controls.password.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.controls.password.errors.required">
            {{ ERROR_MESAGES.required }}
          </div>
          <div *ngIf="registerForm.controls.password.errors.minlength">
            {{ ERROR_MESAGES.password_minlength }}
          </div>
          <div *ngIf="registerForm.controls.password.errors.whitespace">
            {{ ERROR_MESAGES.without_whitespaces }}
          </div>
        </div>
        <!-- password validation end -->
      </div>
    </div>
    <div class="form-group">
      <label for="inputLogin">Login*</label>
      <input
        type="text"
        class="form-control"
        id="inputLogin"
        formControlName="login"
      />
      <!-- Login validation -->
      <div
        *ngIf="
          registerForm.controls.login.invalid &&
          (registerForm.controls.login.dirty ||
            registerForm.controls.login.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="registerForm.controls.login.errors.required">
          {{ ERROR_MESAGES.required }}
        </div>
        <div *ngIf="registerForm.controls.login.errors.minlength">
          {{ ERROR_MESAGES.login_minlength }}
        </div>
        <div *ngIf="registerForm.controls.login.errors.whitespace">
          {{ ERROR_MESAGES.without_whitespaces }}
        </div>
      </div>
      <!-- Login validation end -->
    </div>
    <div class="form-group">
      <label for="inputName">Name*</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        formControlName="name"
      />
      <!-- Name validation -->
      <div
        *ngIf="
          registerForm.controls.name.invalid &&
          (registerForm.controls.name.dirty ||
            registerForm.controls.name.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="registerForm.controls.name.errors.required">
          {{ ERROR_MESAGES.required }}
        </div>
        <div *ngIf="registerForm.controls.name.errors.whitespace">
          {{ ERROR_MESAGES.without_whitespaces }}
        </div>
      </div>
      <!-- Name validation end -->
    </div>
    <div class="form-group">
      <label for="inputSurname">Surname</label>
      <input type="text" class="form-control" id="inputSurname" />
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          formControlName="city"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputCountry">Country</label>
        <select
          id="inputCountry"
          class="form-control"
          formControlName="country"
        >
          <option value="armenia">Armenia</option>
          <option value="russia">Russia</option>
        </select>
      </div>
    </div>
    <div class="sign-button-wrapper">
      <button
        type="submit"
        class="btn btn-primary pointer"
        [disabled]="registerForm.status === 'INVALID'"
      >
        Register
      </button>
      <button class="btn btn-success" routerLink="/login">
        Go to Login Page
      </button>
    </div>
  </form>
</div>
