<div class="sign-wrapper">
    <p>Login here!</p>
    <form [formGroup]="profileForm" (ngSubmit)="onLogIn()">
        <div class="sign-form-wrapper">
            <input type="text" class="input" placeholder="Username" formControlName="Username">
            <input type="text" class="input" placeholder="Password" formControlName="Password">
        </div>
        <div class="sign-button-wrapper">
            <button class="btn btn-primary" type="submit">Log-In</button>
            <button class="btn btn-primary" routerLink="/register">Register</button>
        </div>
    </form>
</div>