<div class="container">
    <form [formGroup]="profileForm" (ngSumit)="onSubmit()">

        <label for="brend">Brand <input type="text" formControlName="Brand" id="brend"></label> 
        <label>Model <input type="text" formControlName="Model"></label>
        <label>Class <input type="text" formControlName="Class"></label>
        <label>Date <input type="number" formControlName="Date"></label>
        <label>Transmission <input type="text" formControlName="Transmission"></label>
        <label>Horsepower <input type="number" formControlName="Horsepower"></label>
        <div class="btn-div">
            <button type="button" routerLink="/car-list">Cancel</button>
            <button type="submit" routerLink="/car-list">Edit</button>
        </div>
    </form>
</div>
