<div class="container">
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()">

        <label>{{ Brand | translate}} <input type="text" formControlName="Brand"></label> 
        <label>{{ Model | translate}} <input type="text" formControlName="Model"></label>
        <label>{{ Class | translate}} <input type="text" formControlName="Class"></label>
        <label>{{ Date | translate}} <input type="number" formControlName="Date"></label>
        <label>{{ Transmission | translate}} <input type="text" formControlName="Transmission"></label>
        <label>{{ Horsepower | translate}} <input type="number" formControlName="Horsepower"></label>
        <div class="btn-div">
            <button type="button" routerLink="/car-list">{{ cancel | translate }}</button>
            <button type="submit" >{{ edit | translate }}</button>
        </div>
    </form>
</div>
