.page-item {
  cursor: pointer;
}
.add-icon {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: green;
  color: aliceblue;
  border-radius: 10%;
  cursor: pointer;
}
.edit-btn {
  background-color: #5ce424;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
}
#modal {
  width: 400px;
  height: 100px;
  left: 800px;
  z-index: 2;
  background-color: dodgerblue;
  position: absolute;
  top: 250px;
}

.table-light {
  opacity: 0.5;
}
