<div *ngIf="route.children.length === 0" class="container" #container>
  <app-search (getFilteredCars)="onSearchClick($event)"></app-search>
  <table class="table table-striped" #table>
    <thead>
      <tr *ngIf="slicedCars?.length">
        <th *ngFor="let title of carTitles" scope="col">
          {{ title | translate }}
        </th>
        <th>
          <span class="add-icon" type="button" (click)="goToAddCarPage()">
            <i class="material-icons" style="font-size: 36px">add</i>
          </span>
        </th>
      </tr>
    </thead>
    <ng-container *ngIf="slicedCars?.length">
      <tbody>
        <tr *ngFor="let car of slicedCars">
          <td>{{ car.Brand }}</td>
          <td>{{ car.Class }}</td>
          <td>{{ car.Date }}</td>
          <td>{{ car.Horsepower }}</td>
          <td>{{ car.Model }}</td>
          <td>{{ car.Transmission }}</td>
          <td>
            <button
              class="btn btn-danger"
              id="deleteButton"
              [disabled]="isModalOpen"
              (click)="displayDeleteModal(car.id)"
            >
              Delete
            </button>
          </td>
          <td>
            <a class="edit-btn btn" (click)="handleNavigationClick(car.id)">
              {{ edit | translate }}
            </a>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
  <app-pagination
    *ngIf="pages && pages !== 1"
    [pages]="pages"
    class="pagination"
  ></app-pagination>
</div>

<router-outlet></router-outlet>
