.page-item {
  cursor: pointer;
}
.add-icon {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: green;
  color: aliceblue;
  border-radius: 10%;
  cursor: pointer;
}
