<form [formGroup]="searchFormGroup" (ngSubmit)="onSubmit()">

    <label>
        Brand
        <input type="text" formControlName="Brand">
    </label>

    <label>
        Class
        <select name="" id="option" formControlName="Class">
            <option value="sedan">Sedan</option>
            <option value="suv">SUV</option>
            <option value="minivan">Minivan</option>
            <option value="sports">Sports</option>
            <option value="wagon">Wagon</option>
        </select>
    </label>

    <label>
        Date
        <input type="text" formControlName="Date">
    </label>

    <label>
        Horsepower
        <input type="text" formControlName="Horsepower">
    </label>

    <label>
        Model
        <input type="text" formControlName="Model">
    </label>
    <label>
        Trasnsmission
        <input type="text" formControlName="Transmission">
    </label>
    <button type="submit">Search</button>
</form>